.app-wrapper {
  text-align: left;
}

.header {
  background-color: #222;
  padding: .5rem 1rem;
  color: white;
  font-size: 2rem;
}

.nav {
  background: #f1f1f1;
}

.main {

}

.data-table td:nth-child(4) {
}

.data-table {
  table-layout: fixed;
  width: 100%;
  white-space: wrap;
}
.data-table td {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Column widths are based on these cells */
.data-table .row1 {
  width: 5%;
}
.data-table .row2 {
  width: 10%;
}
.data-table .row3 {
  width: 10%;
}
.data-table .row4 {
  width: 7.5%;
}
.data-table .row5 {
  width: 7.5%;
}
.data-table .row6 {
  width: 10%;
}
.data-table .row7 {
  width: 22.5%;
}
.data-table .row8 {
  width: 22.5%;
}
.data-table .row9 {
  width: 2.5%;
}
.data-table .row10 {
  width: 10%;
}

